/* PROJECT RAWLS COMPONENTS */
.content {
  padding: 0;
}

.aboutContainer {
  display: block;
}

.aboutLogo {
  width: 90%;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20vh;
  min-height: 70vh;
}

.about {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.aboutTitle {
  display: block;
  font-family: "Courier New";

}

.aboutTitle h1 {
  font-size: calc(2rem + 20px);
  margin-top: 7%;
}

.aboutText {
  display: block;
  margin: 10%;
  font-size: calc(1.5rem);
  font-family: "Times New Roman";

}

.logo {
  height: 50%;
  max-width: 25%;
  display: inline-flex;
  justify-content: center;
}

.flexLogo {
  max-height: 270px;
  transform: translateX(15%);
}

/* mission section */

.mission {
  background-image: url("../team/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 19vh;

  min-height: 90vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

}

.missionTitle {
  font-size: calc(3.5rem + 20px);
  padding-bottom: 5vh;
  font-family: Verdana;
}

.mission ul {
  list-style: none;
}

.mission li {
  padding: 10px;
  font-size: calc(1.5rem);

}

/* Team section  */
.meet {
  padding-top: 15vh;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.meetTitle {
  font-size: calc(3rem + 20px);
  font-family: Arial;
}

.meet p {
  font-size: calc(1.3rem);
  color: RGB(80, 80, 80);
  width: 50%;
  padding-top: 2%;
  margin: 0 auto;
  padding-bottom: 9%;
  font-family: Georgia;
}


/* PICTURE Team section */

.photo {
  height: 19vh;
  max-height: 20vh;
  border-radius: 50%;
  display: inline-flex;
  margin: 4%;
  text-align: center;
}

.nameText {
  width: auto;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: RGB(80, 80, 80);
}

.photosContainer {
  justify-content: space-around;
}

.photos {
  padding: 2%;
  display: inline-grid;
}

.infoText {
  display: inline-flex;
  width: 50%;
  margin-left: 8%;
  vertical-align: middle;

}



