
.content {
  padding: 0;
}

/*
header or
.header_main or
.header_content {
  display: none;
}

can hide the same repeated banner ??
*/



.aboutContainer {
  display: block;
}

.aboutLogo {
  width: 90%;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20vh;
  min-height: 70vh;
}


.about {
  display: inline-block;
  width: 60%;
  text-align: center;
}

.aboutTitle {
  display: block;
  font-family: "Courier New";

}

.aboutTitle h1 {
  font-size: calc(2rem + 20px);
  margin-top: 7%;
}

.aboutText {
  display: block;
  margin: 10%;
  font-size: calc(1.5rem);
  font-family: "Times New Roman";

}


.logo {
  height: 50%;
  max-width: 25%;
  display: inline-flex;
  justify-content: center;
}

.flexLogo {
  max-height: 270px;
  transform: translateX(15%);
}



/* ABOVE THIS IS THE WHAT IS PROJECT RAWLS COMPONENTS */

.mission {
  background-image: url("../team/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 19vh;

  min-height: 90vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

}

.missionTitle {
  font-size: calc(3.5rem + 20px);
  padding-bottom: 5vh;
  font-family: Verdana;
}

.mission ul {
  list-style: none;
}

.mission li {
  padding: 10px;
  font-size: calc(1.5rem);

}


/* above this is the mission section */

.meet {
  padding-top: 15vh;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.meetTitle {
  font-size: calc(3rem + 20px);
  font-family: Arial;
}

.meet p {
  font-size: calc(1.3rem);
  color: RGB(80, 80, 80);
  width: 50%;
  padding-top: 2%;
  margin: 0 auto;
  padding-bottom: 9%;
  font-family: Georgia;
}




/* PICTURE TIMEEEEE about us pert */

.photo {
  height: 19vh;
  max-height: 20vh;
  border-radius: 50%;
  display: inline-flex;
  margin: 4%;
  text-align: center;
}

.nameText {
  width: auto;
  font-family: sans-serif;
  font-size: 1.3rem;
  color: RGB(80, 80, 80);
}

.photosContainer {
  justify-content: space-around;
}

.photos {
  padding: 2%;
  display: inline-grid;
}

.infoText {
  display: inline-flex;
  width: 50%;
  margin-left: 8%;
  vertical-align: middle;

}

/*
.sumin,
.rui,
.bryan,
.jian,
.nicole {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  padding-bottom: 10vh;

  min-height: 45vh;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  box-shadow: inset 0px 10px 10px 20px RGB(5, 60, 30);
  font-size: calc(1.4rem);
  font-style: oblique;
  font-weight: bold;
  text-shadow: 1.25px 1px #121212;


}
*/

.sumin {

  /*
  background-image: url("../team/suminbackground2.png");
  color: #4F42FF;
  font-family: Arial;
  */

}


.rui {

  /*
  background-image: url("../team/ruibackground.png");
  font-family: "Helvetica Neue";
    color: #00FFFF;
    */
}


.bryan {
  /*
  box-shadow: 0px 10px 10px 5px RGB(90,90,90);
  */
  /*
  background-image: url("../team/bryanbackground.png");
    font-family: Helvetica;
    */
}


.jian {

  /*
  background-image: url("../team/jianbackground.png");
  font-family: sans-serif;
  color: #FFA37B;
  */
}


.nicole {

  /*
  background-image: url("../team/nicolebackground.png");
  font-family: serif;
  color: #111111;
  */
}
