* {
    box-sizing: border-box;
}
.Ccard {
    background-color: white;
  margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
}

.contracts {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-left: 550px;
  padding-right: 550px;
  padding-bottom: 200px;
  padding-top: 100px;
}