/* homepage container css style */
.Ghompage_container{
    padding: 0px;
    margin: 0px;
}
/* How to start section css style */
.smart_contract_text{
    min-height: 50vh;
    padding: 50px;
    background-color: azure;
}
.how_to_start_collapse{
    padding: 0px 60px 30px;
    text-align: left;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }
  #how_to_start {
      padding: 30px;
  }
  #how_to_start h2{
    padding: 30px;
    text-align: center;
    margin: 0px;
    font-weight: 600;
  }
  .how_to_start_container{
    text-align: center;
    width: 100%;
  }

  .how_to_start_title,
  .step1_pic,
  .step3_pic,
  .step4_pic {
  display: inline-block;
  width: 100%;
}
  .how_to_start_title p{
    font-size: 20px;
  }

  .step1_pic, .step2_pic, .step3_pic, .step4_pic{
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
  }
  .step1_pic{
    background-size: 149%;
    background-image: url('../images/step1.png');
    background-position: -39px -25px;
  }
  .step2_pic{
    background-size: 100%;
    background-image: url('../images/step2.png');
  }
  .step3_pic{
    background-size: 108%;
    background-image: url('../images/step3.png');
    background-position: -5px -8px;
  }
  .step4_pic{
    background-size: 100%;
    background-image: url('../images/step4.png');
  }

  /* Partnership section css style */
  .Partnership{
    background-image: url('../images/p1.jpg');
    background-size: 100%;
    min-height: 70vh;
    padding: 50px;
    text-align: center;
  }
  .Partnership_Text h2{
    color: azure;
    font-size: 50px;
  }
  .Partnership_Text ul.Partnership_Title li a{
    color: azure;
    font-size: 30px;
    padding-right: 30px; 
  }