/* Header section */
header{
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  
}
header.header_main .header_content {
  position: relative;
}
.header_container{
  text-align: center;
  color: #f2f2f2;
}
/* banner background pic */
.header_home{
  background: -webkit-gradient(linear, left bottom, left top, from(#6666ff), to(#ee0979));
  background: linear-gradient(0deg, #6666ff 0%, #ee0979 100%);
}
.header_contract{
  background: -webkit-gradient(linear, left bottom, left top, from(#66c2ff), to(#4d4dff));
  background: linear-gradient(0deg, #66c2ff 0%, #4d4dff 100%);
}
.header_wallet{
  background: -webkit-gradient(linear, left bottom, left top, from(#ff99ff), to(#9999ff));
  background: linear-gradient(0deg, #ff99ff 0%, #9999ff 100%);
}
.header_about{
  background: -webkit-gradient(linear, left bottom, left top, from(#ff3300), to(#0066cc));
  background: linear-gradient(0deg, #ff3300 0%, #0066cc 100%);
}

