

header{
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  
}
.header_home{
  background: -webkit-gradient(linear, left bottom, left top, from(#6666ff), to(#ee0979));
  background: linear-gradient(0deg, #6666ff 0%, #ee0979 100%);
}
.header_contract{
  background: -webkit-gradient(linear, left bottom, left top, from(#4db8ff), to(#6666ff));
  background: linear-gradient(0deg, #4db8ff 0%, #6666ff 100%);
}
.header_wallet{
  background: -webkit-gradient(linear, left bottom, left top, from(#ff99ff), to(#9999ff));
  background: linear-gradient(0deg, #ff99ff 0%, #9999ff 100%);
}
.header_about{
  background: -webkit-gradient(linear, left bottom, left top, from(#00e600), to(#47d1d1));
  background: linear-gradient(0deg, #00e600 0%, #47d1d1 100%);
}
header.header_main .header_content {
  position: relative;
}
.header_container{
  text-align: center;
  color: #f2f2f2;
}