@media (min-width: 400px) {
  .Signup form {
      max-width: 360px;
  }

}
    .Signup {
        padding: 60px 15px;
    }

    .Signup form {
        margin: 0 auto;
        padding: 2%;
        background-color: #B0C4DE;
    }
.form-control {
  width: 80%;
}

btnAlign {
    display: inline-block;
    vertical-align: top;

}

.submit{
    margin: 0 auto;
}
.buttons{
  padding-right: 4px;
}
.header {

  /*display: none;*/
}
