.Signup {
    padding: 0px;
}

.Signup form {
    margin: 0 auto;
    padding: 0px;
    background-color: white;
    border-radius: 20px;
}
.signup_intro{
    border-radius: 20px 20px 0px 0px;
    /* background-image: url('../images/signupBackground.jpg'); */
    background-image: url('../images/bg6.png');
    text-align: left;
    padding-left: 30px;
    padding-top: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -20px; 
    min-height: 200px;
    color: white;
}
.signup_content{
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 10px;
    margin-top: -20px;
}
.form-control {
  width: 80%;
}

.submit{
    margin: 0 auto;
}
.buttons{
  padding-right: 4px;
}
.control-label{
    margin-bottom:0px;
}
.signup_content .form-group{
    margin-bottom:5px;
}