.CardContainer{

}
.walletCard {
  z-index: 0px;
background: linear-gradient(white, #f2f2f2);
  padding: 20px;
  margin-top: 10%;
  margin-right:4.1%;
  margin-left: 2%;
  border: 1px solid #cccccc;
  border-radius: 5px 5px 0px 0px;
}
.walletText {
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: bold;
}
.balanceContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
}
.balanceText{
  margin-top: 0%;
  font-weight: bold;
}
.balanceValue{
  margin-top: 0%;
  font-weight: normal;

}
.incomeContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.incomeText{
  margin-top: 0%;
  font-weight: bold;
}
.incomeValue{
  margin-top: 0%;
  font-weight: normal;
}

.redeem {
  font-size: .78em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: .9em .9em;
  background-color: #81E870;

}

.redeem:hover {
  background-color: #70D642
}

.transactionHeader{
  color: white;
  background-color: #333333;
  caption-side: top;
}
.transactionText {
  text-align: left;
  margin-left: 1%;
  font-size: 120%;
  padding: 0%;
  letter-spacing: 1px;
}

.transactionTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 94%;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 20%;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
