.wallet-container {
    font-family: 'Lora', serif;
    font-weight: 100;
    border: solid 3px #DDDDDD;
}

hr.main-hr{
    /*
    width: 65%;
    color: black;
    size:"30";
    */
    width: 50%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    color:#FF0066;
    border: 0 none;
}

hr {
    width: 125%;
    margin: 0px;
    padding: 0px;
}

.trans-label {
    font-size:24px;
    padding: 20px;
    text-align: center;
    position: relative;
    right: 300px;
}

.trans-history {
    font-size:18px;
}


.table-labels {
    position: relative;
    left: 300px;
}

.table-labels span {
    display: inline;
    padding-left: 100px;
}

.transaction-list {
    width: 45%;
    position: relative;
    margin: auto;
    right: 70px;
    padding: 20px;
}

div.transaction:hover {
    background-color: #F3F1F1;
    padding: 10px;
    font-size: 18px;
    border-left: solid 5px #C70606;
    border-radius: 5px;
    box-shadow: 1px 3px 5px #888888;
    width: 115%;
}

.transaction {
    margin: 20px;
}

.transaction p{
    padding: 30px;
    display: inline;
    white-space:pre;
}

.wallet-balance p{
    margin: 0px;
    padding: 155px;
    display: inline;
}

.wallet-balance {
    width: 55%;
    text-align: center;
    position: relative;
    left: 265px;
    font-size: 20px;
}
