.right {
  float: right;
}
.Total{
  text-align: right;
  font-size: 20px;
  color: #444;
}
.PermPrice{
  font-size: 20px;
  color: #444;

}
/* remove blue outline when clicked */
.accordion:focus,.accordion:active {
   outline: none !important;
   box-shadow: none;
}
/* drop down for contracts */
.accordion {
  background:  #e6e6e6;
  color: #444;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  margin: 2%;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  transition: 0.4s;
  font-size: 180%;
}

.contractText{
  font-size: 80%;
}
.switch {
  margin-right: 4%;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  width: 100%;
  /* must match .accordion's width */
  padding: 3%;
  font-size: 200%;
  display: none;
  overflow: hidden;
}
.title{
  padding: 1%;
}
.info_contract{
  padding: 1px;
  color: lightslategray;
  font-size: 10px !important;
  border: 1px solid lightslategray;
  margin-right: 16px;
  border-radius: 50%;
}
.info_dp_contract{
  margin-top: -13px;
  margin-left: 10px;
  float: left;
  position: relative;
  display: inline-block;
  color: #5CA2D5;
}
.info_dp-content_contract {
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: none;
  left: 0%;
  min-width: 220px;
}
.infoTextContract{
  font-size: 17px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 10px;
}
.info_dp_contract:hover .info_dp-content_contract{
  display: block;
}
.active+.panel {
  display: block;
}
.accordion:after {
  content: '\02795';
  color: #777;
  float: right;
}
.active:after {
  content: "\2796";
}
.switch {
  position: relative;
  display: inline-block;
  width: 14%;
  height: 1.07em;
  align: center;
  float: right;
}
.switch input {
  display: none
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 10%
}
.slider:before {
  position: absolute;
  content: "";
  height: .82em;
  width: .82em;
  left: .126em;
  bottom: .126em;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
input:checked+.slider {
  background-color: #5CA2D5;
}
input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked+.slider:before {
  -webkit-transform: translateX(1.4em);
  -ms-transform: translateX(1.82em);
  transform: translateX(1.4em);
}
.slider.round {
  border-radius: 1.9em;
}
.slider.round:before {
  border-radius: 50%;
}
.submitButton {
  font-size: .65em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: .2em .6em;
  cursor: pointer;
  background-color: #81E870;
  margin: 3%;
}
.submitButton:hover {
  background-color: #70D642;
}
/* remove blue outline when clicked */
.submitButton:focus,.submitButton:active {
   outline: none !important;
   box-shadow: none;
}
.closeButton {
  font-size: .65em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: .2em .6em;
  cursor: pointer;
  background-color: #ff704d;
  margin: 3%;
}
.closeButton:hover {
  background-color: #ff3300;
}

/* remove blue outline when clicked */
.closeButton:focus,.closeButton:active {
   outline: none !important;
   box-shadow: none;
}
.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.switch {
  width: 15%;
  min-width: 2.7em;
  max-width: 2.7em;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .panel{
    text-align: left;
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .accordion {
    width: 100%;
  }
  .contractText{
    font-size: 55%;
  }
  .switch {
    width: 15%;
    min-width: 2.6em;
    max-width: 2.6em;
    margin: 0;
  }
  .allContracts {
    width: 100%;
  }
  .slider{
    height: 100%;
    margin: 0;
  }
  input:checked+.slider:before{
    transform: translateX(1.5em);
  }
}
