/* drop down for contracts */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 2%;
  width: 70%;
  border: none;
  text-align: center;
  outline: none;
  margin: 2%;
  transition: 0.4s;
  font-size: 180%;
}

/*
.main{
    text-align: center;
}
*/
.switch {
  margin-right: 4%;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  width: 70%;
  /* must match .accordion's width */
  padding: 3%;
  font-size: 200%;
  display: none;
  overflow: hidden;
}

.active+.panel {
  display: block;
}

.accordion:after {
  content: '\02795';
  color: #777;
  float: right;
  /*margin-left: 4%; read below*/
}

.active:after {
  content: "\2796";
  /*margin-left: 0%; no needed. just shifts text when toggled*/
}

.switch {
  position: relative;
  display: inline-block;
  width: 14%;
  height: 1.07em;
  /* cant turn this into % */
  align: center;
  float: right;
}

.switch input {
  display: none
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: .82em;
  width: .82em;
  left: .126em;
  bottom: .126em;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked+.slider {
  background-color: #5CA2D5;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(.82em);
  -ms-transform: translateX(.82em);
  transform: translateX(.82em);
}

.slider.round {
  border-radius: 1.9em;
}

.slider.round:before {
  border-radius: 50%;
}

.submit {
  font-size: .65em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: .7em .9em;
  cursor: pointer;
  background-color: #81E870;
  margin: 3%;
}

.submit:hover {
  background-color: #70D642
}

.cancel {
  font-size: .65em;
  border-radius: 2em;
  border: none;
  color: white;
  padding: .7em .9em;
  cursor: pointer;
  background-color: #ff704d;
  margin: 3%;
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cancel:hover {
  background-color: #ff5c33;
}

@media screen and (max-width: 800px) {
  .content {
    margin: 5%;
    padding: 3%;
  }

  .accordion {
    width: 95%;
  }

  .panel {
    width: 95%;
  }

  .switch {
    width: 14%;
  }

  .allContracts {
    width: 100%;
  }
}

/* biggest viewport as of now is 480. note 5, lg g5, 1+3,
should check new iphone to double check though. biggest i phone was 8 plus at 414 */
@media screen and (max-width: 480px) {
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 2%;
    width: 95%;
    border: none;
    text-align: center;
    outline: none;
    margin: 2%;
    transition: 0.4s;
  }

  .panel {
    width: 95%;
  }

  .switch {
    width: 23%;
  }
}
