/* drop down for contracts */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 70%;
  border: none;
  text-align: center;
  outline: none;
  margin: 10px;
  transition: 0.4s;
  font-size: 16px;
}
.active, .accordion:hover {
  background-color: #ccc;
}
.panel {
  width: 550px;
  padding: 0 18px;
  font-size: 16px;
  display: none;
  overflow: hidden;
}
.active + .panel {
  display: block;
}
.accordion:after {
  content: '\02795';
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  margin-left: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align: center;
  float: right;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
input:checked + .slider {
  background-color: #5CA2D5;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.submit {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  background-color: #81E870;
  margin-left: 0%;
  margin-right:38%
}
.submit:hover {
  background-color: #70D642
}
.cancel {
  border: none;
  color: white;
  padding: 14px 29.5px;
  cursor: pointer;
  background-color: #ff704d;
  margin-right: 10%;
}
.cancel:hover {
  background-color: #ff5c33;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
