* {
    box-sizing: border-box;
}
.Ccard {
	background-color: white;
  padding: 0px;
  margin-top: 60px;
	margin-left: 15%;
	margin-right: 15%;
  border: 1px solid #cccccc;
  border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 800px) {

.header{
  width: 0;
}

.content{
  padding: 2%;
  margin: 0;
  width: 100%;
}
.Ccard {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1%;
  margin-bottom: 10%;
  }
 .contracts{
   width: 90%;
   margin:0 auto;
 }

}
