* {box-sizing: border-box;}

.header {
    overflow: visible;
 	  width:100%;
	   height: 50px;
	    transition: height 0.3s;
      	position: fixed;
  	overflow: hidden;
  	background-color: white;
	border-bottom:1px solid #ccc;
	border-bottom-width: thin;
  	padding: 20px 10px;
}


.profile_pic {
  margin-top: -1%;
  width: 3%;
  float: right;
  font-size: 100%;
}

@media screen and (max-width: 500px) {
   .header{
  display: none;
}
}
