* {
    box-sizing: border-box;
}
.row{
 margin-top: 30px;
}
.title{
   background-color: #29293d;
   margin-top: -21px;
   margin-left: -21px;
   margin-right: -21px;
   padding: 1%;
   color: white;
   border-radius: 5px 5px 0px 0px;
}
.titleText {
  text-align: left;
  margin-left: 3%;
  font-size: 100%;
  margin: -0.2%;
  padding: 2%;
}

/* link */
a{
 color: #1aa3ff;
}
/* mouse over link */
a:hover {
    color: #007acc;
}
/* blocks */
.card {
     z-index: 0px;
     background-color: white;
     padding: 20px;
     margin-top: 50px;
     border: 1px solid #cccccc;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Create two equal columns that floats next to each other */
.leftColumn {
    float: left;
    width: 60%;
    padding: 1%;
    background-color: white;
}

.rightColumn {
    float: left;
    width: 38%;
    padding: 1%;
    background-color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
  .leftColumn, .rightColumn{
    width: 97%;
    padding: 0;

  }

  .card {
    margin-top: 5%;
    margin-left: 2%;
    margin right: 2%;
  }
}
