* {
  box-sizing: border-box;
}

.row{
 margin-top: 40px;

}
.title {
  background-color: #29293d;
  margin-top: -40px;
  margin-left: -4.5%;
  margin-right: -4.5%;
  color: white;
}

.titleText {
  text-align: left;
  margin-left: 3%;
  font-size: 100%;
  margin: -0.1%;
  padding: 2%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* link */
a {
  color: #1aa3ff;
}

/* mouse over link */
a:hover {
  color: #007acc;
}

/* blocks */
.card {
  z-index: 0px;
  background-color: white;
  padding: 4%;
  margin-top: 15%;
  margin-bottom: 10%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Create two equal columns that floats next to each other */
.leftColumn {
  float: left;
  width: 60%;
  padding: 2%;
  background-color: white;
}

.rightColumn {
  float: left;
  width: 38%;
  padding: 2%;
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftColumn, .rightColumn{
    width: 97%;
    padding: 0;

  }

  .card {
    margin-top: 5%;
    margin-left: 2%;
    margin right: 2%;
  }
}
