.sidebar {
  margin: 0;
  padding: 0;
  width: 18%;
   /* background-color: #f1f1f1;*/
 background-color: #29293d;
 /*background: linear-gradient(135deg, #0066cc, #0066cc 50%, #F9C44C);*/
/*  background: linear-gradient(135deg, #004d99, #0066cc 50%, #cce6ff);*/
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: flex;
  color: white;
  padding: 7%;
  text-decoration: none;
}

.fa {
  transform: scale(1.8, 1.8); /* this may cause issues in other browsers */
  margin-right: 5%;
}

.faText {
  float: right;
  margin-right: 4%;
  font-size: 130%;
}

.sidebar a.current {
  background-color: #5CA2D5;
  color: white;
}

.sidebar a:hover:not(.current) {
  background-color: #555;
  color: white;
}

.logo_pic {
  width: 100%;
}
/** 800 - 1000 px is around the avg tablets widest widths */
@media screen and (max-width: 800px) {

  .sidebar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
  }

  .logo_pic {
    width: 10%;
    float: right;
    margin: 1%;
    border-radius: 50%;
  }

  .faText{
    font-size: 0;
  }

  .sidebar a{
    width: 14%;
    text-align: center;
    float: left;
    padding: 4%;
  }
}
  /** media for 480 and mobile phones seem to be unecessary as of now */
