.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: flex;
  color: black;
  padding: 16px;
  margin: auto;
  text-decoration: none;
}

.sidebar a.current {
  background-color: #5CA2D5;
  color: white;
}

.sidebar a:hover:not(.current) {
  background-color: #555;
  color: white;
}
.cancel, .submit {
  font-size: 1.25em;
  border-radius: 55px;
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  .bynIcons{
    text-align: center;
  }
.cancel, .submit {
  font-size: 1.25em;
  border-radius: 35px;
}

.sidebar a{
  width: 10%;
  align-items: stretch;
  flex-flow: row nowrap;
  list-style: none;
  position: relative;
  display: flex;
  margin: auto;
  padding: auto;
}

}


@media screen and (max-width: 640px) {

.sidebar a {
  width: 10%;
  align-items: stretch;
  flex-flow: row nowrap;
  list-style: none;
  position: relative;
  display: flex;
  margin: auto;
  padding: auto;
}
.bynIcons{
  text-align: center;
}
.textByn {
  font-size: 0;
}

}
